@import 'var'
@import 'reset'
@import 'header'
@import 'footer'
@import 'section-1'
@import 'section-2'
@import 'section-3'


@media screen and ( max-width: $breakpoint_xxl )
    .header 
        .container 
            max-width: 1320px
            padding: 50px 60px 0
    .section-1
        .container 
            padding: 0px 60px 
    .section-2
        .container 
            padding: 0px 60px 
            .companies
                border-radius: 0px
                .comp-1
                    border-top-left-radius: 0px 
                .comp-4
                    border-top-right-radius: 0px
                .comp-9
                    border-bottom-left-radius: 0px
                .comp-12
                    border-bottom-right-radius: 0px
    .section-3
        .container 
            padding: 0px 60px 
            background-color: #060706
            .publications__block 
                width: 32.3%
    .footer
        .container
            max-width: 1320px
            padding: 50px 60px 0

@media screen and ( max-width: $breakpoint_xl )
    .cards__card
        max-width: 30%

@media screen and ( max-width: $breakpoint_lg )
    .header 
        .container 
            max-width: 768px
            justify-content: flex-start
            padding: 50px 60px 0
            .header
                &__logo
                    position: absolute
                &__actions
                    margin-bottom: 59px
                &__nav
                    justify-content: flex-start
                
    .section-1
        .container 
            padding: 0px 60px 
            .cards
                flex-wrap: wrap
                &__card
                    max-width: 45%
    .section-2
        .container 
            padding: 0px 60px 
            .swiper-slide
                display: flex
                flex-direction: column
            .companies
                &__company
                    width: 33%



@media screen and ( max-width: $breakpoint_md )
@media screen and ( max-width: $breakpoint_sm )
@media screen and ( max-width: $breakpoint_xs )