@import 'var'

.footer
    &__info
        
    .container
        
        
        
        display: flex
        justify-content: space-between
        margin: 30px auto
        
           
                
                
