@import 'var'
@import 'reset'
@import 'header'
@import 'footer'
@import 'section-1'
@import 'section-2'
@import 'section-3'
@import 'adaptive'

html 
  scroll-behavior: smooth

.font_hero
    font: $font_hero
h2
    font:$font_h2
h3
    font:$font_h3
    color: $color_active
.font_h3-caps
    font:$font_h3-caps
    text-transform: uppercase
    
h4
    font:$font_h4
    color: $color_regular
p
    font:$font_p
.font_ul-ol
    font:$font_ul-ol

body
    a
        text-decoration: none
html
    font-family: 'Montserrat'
    font-size: 14px
    background: #F5F5FA
.container
    max-width: 1920px
    margin: 0 auto
    padding: 0 160px

.gradient
    
    background-image: linear-gradient(90.13deg, #F0145A 0.84%, #EF8080 99.96%)
    -webkit-background-clip: text
    -webkit-text-fill-color: transparent
    text-fill-color: transparent
    background-clip: text

.mb10
    margin-bottom: 10px
.mb15
    margin-bottom: 15px
.mb30
    margin-bottom: 30px
.mb60
    margin-bottom: 60px
.pb60
    padding-bottom: 60px
.hero
    font: $font_hero

.arrow-after
    text-transform: uppercase
    color: $color_regular
    cursor: pointer
    &:hover
        color: $color_accent


    


