@import 'var'
@import 'reset'
@import 'header'
@import 'section-1'


h1
    font:$font_hero
h2
    font:$font_h2
h3
    font:$font_h3
    color: $color_active
h4
    font:$font_h4
p
    font:$font_p


    
html
    font-family: 'Montserrat'
    font-size: 14px
.container
    max-width: 1440px
    margin: 0 auto
    padding: 0 60px
    


    


