@import 'var'

.section-1
    background: linear-gradient(228.57deg, #323264 11.93%, #323264 57.17%, #643E72 87.46%)
    border-radius: 0px 0px 12px 12px
    .container
        position: relative
        p
            color: #fff

.symb-h
    position: absolute  
    
    // top: 178px
        &-text
            color: #fff


.first-content
    display: flex
    justify-content: center
    &-menu
        display: flex
        flex-direction: column
        align-items: end
        span
            font:$font_hero
            color: #B3B3BA
    &-text
        width: 581px
        h2
            color: #fff
        
            

.palka
    margin: 0 60px
    width: 4px
    height: 303px
    background: rgba(255, 255, 255, 0.3)
.mb10
    margin-bottom: 10px
.mb15
    margin-bottom: 15px
.mb30
    margin-bottom: 30px
.mb60
    margin-bottom: 60px
.pb60
    padding-bottom: 60px
.hero
    font: $font_hero
.cards
    display: flex
    justify-content: space-between
    align-items: baseline


    &__card
        width: 400px

        &__img
        &__title
        &__desc