@import 'var'
.section-2
    &__circles
        display: flex
        justify-content: center
        &__span
            width: 16px
            height: 16px
            background: #24A3FF
            opacity: 0.2
            border-radius: 100%
            margin-right: 15px
            cursor: pointer
            &:hover
                background: #24A3FF
                opacity: 1
                
            
        

.section-2__content
    display: flex
    background: #F5F5FA
    border-radius: 12px
    &__text
        width: 960px
    &__img
        margin-right: 30px

.trust
    text-align: center
    color: $color_main
.companies
    display: flex
    flex-wrap: wrap
    align-items: center
    &__company
        width: 25%
        text-align: center
        height: 120px
        overflow: hidden
        &__logo
            text-align: center


.comp-1
    background-color: $comp-1
.comp-2
    background-color: $comp-2
.comp-3
    background-color: $comp-3
.comp-4
    background-color: $comp-4
.comp-5
    background-color: $comp-5
.comp-6
    background-color: $comp-6
.comp-7
    background-color: $comp-7
.comp-8
    background-color: $comp-8
.comp-9
    background-color: $comp-9
.comp-10
    background-color: $comp-10
.comp-11
    background-color: $comp-11
.comp-12
    background-color: $comp-12
